/* star twinkle */
@keyframes twinkle {
	0% { opacity: 0.1; }
	50% { opacity: 1; }
	100% { opacity: 0.1; }
}

.star-twinkle {
	animation: twinkle linear infinite;
}

/* Gradient to solid bg */
.space-container {
    height: 400vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0 , 0) 0%,
        rgba(3, 7, 18, 0.8) 50%,
        #46295a 100%
    );
}

/* Bottom planet */
.planet {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 25vh;
    background: radial-gradient(circle at center, #8d8aa0, #69576d);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
