/*
Credit:
https://www.reactbits.dev/text-animations/text-type?cursorCharacter=%E2%96%8E&deletingSpeed=30
*/

.text-type {
    display: inline-block;
    white-space: pre-wrap;
}

.text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
}

.text-type__cursor--hidden {
    display: none;
}
